@import "./styles/references/Fonts.scss";
@import "./styles/references/Colors.scss";
@import "./styles/references/Defaults.scss";
@import "./styles/components/GameFrame.scss";
@import "./styles/components/Messages.scss";

html
{
    background-color: $black;

    #game-frame
    {
        font-family: goldfish;
    	background-color: #507642;
    }
}

@keyframes bomb-flash {
  from { color: black; }
  to { color: red; }
}

.bomb {
	animation-name: bomb-flash;
	animation-iteration-count: infinite;
	animation-duration: 0.15s;
	font-weight: bold;
}
